obj/Debug/netcoreapp2.1/TrussWorks Test.assets.cache
obj/TrussWorks Test.csproj.nuget.cache
obj/TrussWorks Test.csproj.nuget.cache
obj/Debug/netcoreapp2.1/TrussWorks Test.assets.cache
obj/Debug/netcoreapp2.1/TrussWorks Test.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/TrussWorks Test.csprojAssemblyReference.cache
